body {
    font-family: Comic Sans MS, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #35495e;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #35495e;
}

.project {
    margin-bottom: 20px;
    padding: 10px;
    border-left: 4px solid #35495e;
}

.project h3 {
    margin: 0;
    font-size: 1.5em;
    color: #35495e;
}

.project p {
    font-size: 1em;
    color: #333;
}

footer {
    background-color: #35495e;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

nav {
    margin-top: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
#shadowBox {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    border: 3px solid;
}

.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: monospace;
    letter-spacing: 5px;
}

.rainbow_text_animated {
    background: linear-gradient(to right, #669cff, #00f7ff , #00ff00, #fffc33, #ff6666, #ff66eb);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 1.5s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}